    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

<!--           <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div> -->

          <div class="inner cover">
            <h1 class="cover-heading">Bloombergraphics</h1>
            <p class="lead">
              <div class="row">
                <div class="col-lg-6">
                  <form ng-submit="submit()" ng-controller="FetchController">
                    <div class="input-group">
                      <input type="text" ng-model="query" name="query" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-danger" type="submit">Go!</button>
                      </span>
                    </div><!-- /input-group -->
                  </form>
                </div>
              </div>
            </p>
          </div>

        </div>

      </div>

    </div>